<div class="container mt-12">
  <h1>Formulario de Preguntas</h1>

  <form action="/answer" method="get" data-turbo="false" class="form-check">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn warm">
  </form>
</div>
